nav.nav-header{
    /* background-color: #107D82; */
    background-color: #069d86;
    /* background-color: #4b2e83; */
}
nav ul.ul-nav{
    margin-left: 100px;
}
input.search{
    display: inline-block;
      vertical-align: middle;
    width: 300px;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
div.image-logo{
    width: 120px;
    height: 40px;
    background: url(../../images/logobk.png) center center no-repeat;
    background-size: cover;
}
nav button.nav-btn-search{
    width: 99px;
    height: 38px;
    border-radius: 5px;
    background-color: #069d86;
    border: 1px solid wheat;
}
nav button.nav-btn-search:hover{
    background: linear-gradient(to right, #0f959b, #107D82);
}
form.search{
    width: 40%;
    margin-left: 30px;
}
a.link{
    color: black;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: block;
    /* text-decoration: none; */
    background-color: transparent;
}
a.nav-link:hover{
    color: white;
}
nav button.nav-btn-dangki{ 
    background-color: #069d86;
    width: 90px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid wheat;
}
label.nameLogo{
    color: white;
    font-size: 20px;
}
