div.login-con{
    width: 450px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: 0 0px 10px 0 rgba(31, 28, 38, 0.35); 
    background-color: #EEEEEE;
    overflow: auto;
}
span.closeLogin {
    position: absolute;
    right: 470px;
    /* top: 0; */
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
  
span.closeLogin:hover, span.closeLogin:focus {
    color: red;
    cursor: pointer;
}
div.icon-user{
    width: 120px;
    height: 120px;
    background-image: url(../../images/user.png);
    border-radius: 50%;
    margin-left: 160px;
    margin-top: -60px;
    position: absolute;
}
div.login-title{
    width: 100%;
    height: 40px;
    margin-top: 70px;
}
div.login-title p{
    color: #0f9298;
    font-size: 30px;
    margin-top: 20px;
}
div.login-username{
    width: 100%;
    height: 70px;
    margin-top: 10px;
}
div.login-username-title{
    width: 100%;
    height: 30px;
}
div.login-username-title p{
    text-align: left;
    margin-left: 10px;
}
div.login-username input{
    width: 95%;
    height: 40px;
    /* border-radius: 3px;
    border:1px solid wheat; */
    background: #D3D3D3;
    margin-bottom: 6%;
    font-family: 'Open Sans', sans-serif;
    color: #676767;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    border: 1px solid #DED6D6;
}
div.login-username input:hover{
    border: 1px solid #676767;
}
div.login-btn{
    width: 100%;
    height: 40px;
    margin-top: 25px;
}
div.login-btn button.btn-login{
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #0f959b, #064a50);
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}
div.login-btn button.btn-login:hover{
    background: linear-gradient(to right,#064a50, #0f959b);
}
div.log-sign{
    width: 100%;
    height: 20px;
    margin-top: 15px;
}
div.log-sign p{
    font-size: 17px;
}
div.log-sign label:hover{
    color: #0f9298;
}