footer.footer{
    background-color: #069d86;
}
div.footer{
    margin-top: 20px;
}
div.space{
    width: 13%;
}
ul.ul-item{
    
}
li.li-item{
    color: black;
}
ul li.li-item a{
    color: black;
}
ul li.li-item a:hover{
    color: white;
}